<div class="container">
  <header class="text-center text-light my-4">
    <h1 class="mb-4">Todo List</h1>
    <form class="search">
      <input
        class="form-control m-auto"
        type="text"
        name="search"
        placeholder="search todos"
      />
    </form>
  </header>

  <ul class="list-group todos mx-auto text-light delete">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>Go to the grocery</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>Do the Laundry</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>Walk the dog</span>
    </li>
  </ul>

  <form class="add text-center my-4">
    <label class="text-light">Add a new todo...</label>
    <input class="form-control m-auto" type="text" name="add" />
    <br />
    <div class="text-center">
      <input type="submit" class="btn btn-light" />
    </div>
  </form>
</div>
